PORT=5000


SEARCH_CACHE_TTL_MS=75000


SEARCH_GRID_DECIMALS=3

MONGO_URI=mongodb+srv://akay:wWIwjQ7w57LTGuy6@cluster0.7r22eli.mongodb.net/?appName=Cluster0   
DEFAULT_PINCODE=411001


DB_PATH=bigbasket.db


CLOUDINARY_CLOUD_NAME=dxxcxqdsj
CLOUDINARY_API_KEY=742743179654722
CLOUDINARY_API_SECRET=dYFvVo7sK6BphBu8Intuv5tE-HA
